@import "tailwindcss";

@font-face {
    font-family: "PerfectMoment";
    src: url("/fonts/PerfectMoment-Script.ttf");
}

@font-face {
    font-family: "HackneyVector";
    src: url("/fonts/Hackney-Vector.ttf");
}

@font-face {
    font-family: "HackneySVG";
    src: url("/fonts/Hackney-SVG.otf");
}



body {
    font-family: "HackneyVector", sans-serif;
}

.perfect-moment {
    font-family: "PerfectMoment", sans-serif;
}

