@import "tailwindcss";

@font-face {
    font-family: "PerfectMoment";
    src: url("../public/fonts/PerfectMoment-Script.ttf");
}

@font-face {
    font-family: "HackneyVector";
    src: url("../public/fonts/Hackney-Vector.ttf");
}


body {
    font-family: "HackneyVector", sans-serif;
}

.perfect-moment {
    font-family: "PerfectMoment", sans-serif;
}

